#page {
    width: 1000px;
    margin-left: auto ;
    margin-right: auto ;
}
#canvases {
    margin-left: 1em;
    margin-top: 1em;
}
canvas {
    position: absolute;
    width: 600px;
    height: 600px;
}
#canvas {
    z-index: 2;
}
#pheromone_canvas {
    z-index: 1;
}
h1 {
    text-align: center;
}
a {
    background-color: grey;
    color: white;
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    width: 2.5em;
    padding: 0.25em 1.75em 0.25em 1.75em;
    margin: 0.5em;
}
a#reset {
    display: block;
}
label {
    float: left;
    width: 10em;
    margin-right: 1em;
}
a:active {
    background-color: black;
}
fieldset input {
    width: 5em;
}
p {
    margin-top: 2em;
}
fieldset {
    padding: 1em;
    width: 22.5em;
    margin-top: 1em;
    float: left;
    margin-left: 40em;
}
fieldset#configuration {
    margin-top: 0;
}
fieldset span {
    margin-left: 10px;
}
